.desc {
  flex: 1;
}
.table {
  flex: 1;
}
body .desc .item {
  line-height: 40px;
}
body .desc .item input {
  width: 150px;
  line-height: 25px;
}
body .desc .item span {
  float: left;
  width: 100px;
}
body .desc .image .upload {
  width: 150px;
  height: 150px;
  position: relative;
  display: inline-block;
  border: 1px solid rgb(233, 202, 202);
  border-radius: 8px;
  text-align: center;
}
body .desc .image .upload::before {
  content: '';
  display: inline-block;
  height: inherit;
  width: 2px;
  background-color: #e7d6bf;
}
body .desc .image .upload::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  display: inline-block;
  width: inherit;
  height: 2px;
  background-color: #e7d6bf;
}
body .desc .image .upload input {
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
}
body .desc .image .preview {
  width: 150px;
  height: 150px;
  /* border: 1px solid #999; */
  border-radius: 8px;
  display: none;
  background-repeat: no-repeat;
  background-size: cover;
}
body .desc .btn {
  margin-top: 10px;
}
body .desc .btn button {
  display: inline-block;
  padding: 5px 8px;
  color: #ffffff;
  background-color: #2f9acc;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  border: none;
}
body .desc .btn button:first-child {
  margin-right: 20px;
}
.person {
  background-color: #ff8037;
}
.person .table table tr td img {
  width: 24px;
  height: 24px;
}